.links {
    margin-top: 1em;
    margin-bottom: 1em;
}

.links a {
    text-transform: uppercase;
    margin-right: 1em;
    color: #0000ee;
}

.links a:visited {
    color: #0000ee;
}

.links button {
    margin-right: 1em;
}
